#########################################################################################
# Be sure to copy any changes here to the .gitattributes files inside the UPM packages!
#########################################################################################

# Unity

*.cs diff=csharp text

[attr]unitymerge merge=unityyamlmerge eol=lf

*.anim unitymerge
*.asset unitymerge
*.controller unitymerge
*.mat unitymerge
*.meta unitymerge
*.physicsMaterial unitymerge
*.physicsMaterial2D unitymerge
*.prefab unitymerge
*.unity unitymerge

# Git LFS

[attr]lfs filter=lfs diff=lfs merge=lfs -text

*.unitypackage lfs
*.png lfs
*.dll lfs
*.pdb lfs