<?xml version="1.0" encoding="utf-8"?>

<!-- See NuGet.Config schema reference: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file -->

<configuration>
  <packageRestore>
    <add key="enabled" value="True" />  <!-- Allow NuGet to download missing packages -->
    <add key="automatic" value="True" />  <!-- Automatically check for missing packages during build in Visual Studio -->
  </packageRestore>

  <packageSources>
    <add key="Local UnityAssemblies" value="..\..\UnityAssemblies" />
  </packageSources>
</configuration>